page-login {

    .list {
        width: 50%;
        margin: auto; 
    }

    .item {
        width: 100%;
        margin: auto;
    }

    .centerbox {
        width: 50%;
        margin: auto; 
    }
    
    .colorbox { 
        background: rgb(240, 237, 237); 
        border-radius: 1%;
    
    }
    

}
